<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <!-- Default panel contents -->
       <div class="panel-heading">Article Titles <span class="btn btn-success pull-right">Save</span></div>
         <div class="panel-body">
           <p>...</p>
         </div>
       </div>
      </div>
    </div>

  </div>

  <hr>


</div> <!-- /container -->
